In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'Name':['Alice','Bob','Carol','Alice'], 'Age':[20,21,22,20]})
df

    Name  Age
0  Alice   20
1    Bob   21
2  Carol   22
3  Alice   20

In [10]:
counts = df['Name'].size()
counts

TypeError: 'int' object is not callable

In [9]:
grouped = df.groupby('Name')['Age']
grouped

In [8]:
counts = grouped['Name'].size()
counts

Name
Alice    2
Bob      1
Carol    1
Name: Name, dtype: int64