In [3]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'Name':['Alice','Bob','Carol','Alice'], 'Age':[20,21,22,20]})
df

    Name  Age
0  Alice   20
1    Bob   21
2  Carol   22
3  Alice   20

In [10]:
counts = df['Name'].size()
counts

TypeError: 'int' object is not callable

In [9]:
grouped = df.groupby('Name')['Age']
grouped

In [8]:
counts = grouped['Name'].size()
counts

Name
Alice    2
Bob      1
Carol    1
Name: Name, dtype: int64

In [48]:
df = pd.read_csv('clean_data\clean_data_v2.csv')
df

                                                  Crime ID  ...                                       Outcome type
0        c9e13644419c09d866b0677c611c270a7ec07469b07b22...  ...      Investigation complete; no suspect identified
1        b56fb9a76ae74d64bcf2a977260f288ecc0368c287c003...  ...  Further investigation is not in the public int...
2        a645e84c245557bc94c24543bc3fbb001da8bf58c0aa8a...  ...                                    Suspect charged
3        adb977ce325d741b951aee2b769015322b74f857ce81b7...  ...                                    Suspect charged
4        b213f886ce58f48c9ca2c39745ab1b8a1825e3239a6ae6...  ...                                    Suspect charged
...                                                    ...  ...                                                ...
2130544  e5ad1fe3d37c380049cd9b41335af39a3b90efa87cca84...  ...      Investigation complete; no suspect identified
2130545  474af4ae9e4f8813c2e5d983d663bb4e1347d1df474a7d...  ...      Investigation complete; no suspect identified
2130546  7b01c0f45837c1cb1c75d03f422bc6e34e05148cf6d973...  ...      Investigation complete; no suspect identified
2130547  2aa6988775439e9c1b52f17d13d6e434e0f3c91b70fed0...  ...      Investigation complete; no suspect identified
2130548  15fab599887a2d8b9312d595c60dc1f74fea52277f99e9...  ...      Investigation complete; no suspect identified

[2130549 rows x 11 columns]

In [49]:
class DataCleaner:
    def __init__(self, data):
        self.data = data
        
    def clean_data_trainer(self):
        self.data = self.data.copy()
        
        self.data.drop(['Crime ID', 'LSOA name', 'Reported by', 'Location', 'LSOA code'], 
                       axis = 1, inplace = True, errors = 'ignore')
        
        self.data['Month'] = pd.to_datetime(self.data['Month'])
        
        self.data.loc[:, 'Outcome type'] = self.data.loc[:, 'Outcome type'].apply(lambda x: 'prosecuted' if 'charged' in x else 'not-prosecuted')
        
        outcome_map = {'not-prosecuted':0, 'prosecuted':1}
        
        self.data['Outcome type'] = self.data['Outcome type'].map(outcome_map)
        
        self.data['year'] = self.data.loc[:, 'Month'].dt.year
        self.data['month'] = self.data.loc[:, 'Month'].dt.month
        
        self.data.drop(['Month'], axis = 1, inplace = True, errors = 'ignore')
        
        return self.data

In [53]:
cleaner = DataCleaner(data=df)

In [54]:
cleaner.clean_data_trainer()

                           Falls within  Longitude  ...  year month
0        Avon and Somerset Constabulary  -2.350371  ...  2020     2
1        Avon and Somerset Constabulary  -2.360522  ...  2020     2
2        Avon and Somerset Constabulary  -2.359175  ...  2020     2
3        Avon and Somerset Constabulary  -2.359175  ...  2020     2
4        Avon and Somerset Constabulary  -2.359175  ...  2020     2
...                                 ...        ...  ...   ...   ...
2130544                Wiltshire Police  -1.759022  ...  2023     1
2130545                Wiltshire Police  -1.759022  ...  2023     1
2130546                Wiltshire Police  -1.759022  ...  2023     1
2130547                Wiltshire Police  -1.750954  ...  2023     1
2130548                Wiltshire Police  -1.748516  ...  2023     1

[2130549 rows x 8 columns]